$color_gray_lt: #979798;
$color_gray: #474748;
$color_gray_dk: #202220;
$color_black: #100906;
$color_black_translucent: rgba(0,0,0,0.7);
$color_orange: #F47E3F;
$color_orange_rgb: rgb(244, 126, 63);
$color_orange_translucent: rgba(244, 126, 63, 0.32);
$color_yellow: #f0d020;
$color_red: #ea2312;
$color_green: #139a13;
$color_white: #ffffff;
$color_white_alt: #FDFAFE;
$color_white_alt2: #F0EFED;
$color_white_rgb: rgba(240, 240, 240, 0.65);
$color_white_translucent: rgba(255, 255, 255, 0.5);
$color_gray_translucent: rgba(0, 0, 0, 0.15);

$color_primary: $color_orange;
$color_secondary: $color_gray;
$color_text: $color_gray_dk;
$color_text_label: $color_gray_lt;
$color_text_lt: $color_white;
$color_background: $color_gray;