@use 'colors';
@use 'utility';

$hMargin: 2vw;
$hMarginInc: 0.5vw;

@font-face {
  font-family: 'Raleway';
  src: url('/assets/fonts/Raleway-VariableFont_wght.ttf')  format('truetype');
}

body { 
  font-family: "Montserrat", sans-serif;
  font-size: 4vw;
  @include utility.media-breakpoint-gte(xs) {
    font-size: 3.75vw;
  }
  @include utility.media-breakpoint-gte(sm) {
    font-size: 2.75vw;
  }
  @include utility.media-breakpoint-gte(md) {
    font-size: 2.25vw;
  }
  @include utility.media-breakpoint-gte(lg) {
    font-size: 2.00vw;
  }
  @include utility.media-breakpoint-gte(ws) {
    font-size: 1.75vw;
  }
  @include utility.media-breakpoint-gte(hd) {
    font-size: 1.5vw;
  }

}
h1,
h2,
h3,
h4,
h5,
.tagline {
  font-family: "Raleway", sans-serif;
  //font-weight: bold;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

h1 {
  margin: ($hMargin + ($hMarginInc * 8)) 0 ($hMargin + ($hMarginInc * 6));
  font-size: 1.5em;
  @include utility.media-breakpoint-gte(md) {
    font-size: 2.25em;
  }
}
h2 {
  margin: ($hMargin + ($hMarginInc * 7)) 0 ($hMargin + ($hMarginInc * 5));
  font-size: 1.35em;
  @include utility.media-breakpoint-gte(md) {
    font-size: 2em;
  }
}
h3, .sub-head {
  margin: ($hMargin + ($hMarginInc * 6)) 0 ($hMargin + ($hMarginInc * 4));
  font-size: 1.2em;
  @include utility.media-breakpoint-gte(md) {
    font-size: 1.6em;
  }
}
h4, .tagline {
  margin: ($hMargin + ($hMarginInc * 5)) 0 ($hMargin + ($hMarginInc * 3));
  font-size: 1.1em;
  @include utility.media-breakpoint-gte(md) {
    font-size: 1.3em;
  }
}
h5 {
  margin: ($hMargin + ($hMarginInc * 4)) 0 ($hMargin + ($hMarginInc * 2));
  font-size: 1em;
  @include utility.media-breakpoint-gte(md) {
    font-size: 1.1em;
  }
}
p {
  margin: ($hMargin + ($hMarginInc * 2.5)) 0 ($hMargin + ($hMarginInc * 1));
  font-size: 1em;
}
li, a, button, input[type="submit"] {
  font-size: 1em;
}
a, button, input[type="submit"] {
  font-family: "Raleway", sans-serif;
}
.tagline {
  margin-top: 0;
  //font-weight: bold;
}
.sub-head {
  margin-bottom: 1vw;
  //font-size: 1.25em;
}


@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  body {
    letter-spacing: -0.5px;
    h1, h2, h3, h4, h5 {
      //letter-spacing: -1px;
      text-shadow: 0px 0px 1px colors.$color_text;
    }
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {
  body {
    letter-spacing: -0.5px;
    h1, h2, h3, h4, h5 {
      //letter-spacing: -0px;
      text-shadow: 0px 0px 1px colors.$color_text;
    }
  }
}
