@use "./utility";
@use "./colors";

#ContentPane_Home.page-container {
  display: flex;
  justify-content: center;
  align-items: center;

  background-image:
      linear-gradient(120deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.75)),
      url('/assets/images/Rubix1_orange.jpg');
  background-size: cover, cover;
  background-position: center, 50% 20%;

  color: colors.$color_text_lt;

  font-size: 100%;
  @include utility.media-breakpoint-gte(hd) {
    font-size: 100%;
  }

  .chanida-torso {
    position: absolute;
    bottom: -1px;
    left: 2vw;
    width: 24vw;
    img {
      display: block;
      width: 100%;
    }
    @include utility.media-breakpoint-gte(xs) {
      width: 18vw;
    }
    @include utility.media-breakpoint-gte(lg) {
      width: 12vw;
    }
  }

  .logo {
    display: none;
    z-index: 0;
    position: absolute;
    // top: 0.25vw;
    // left: 0.25vw;
    top: -1.75vw;
    left: 50%;
    width: 17vw;
    //opacity: 0.25;
    border-radius: 50%;
    //border-radius: 0% 0% 50% 0%;
    background-color: colors.$color-gray-translucent;
    background-image: radial-gradient(#000 68%, transparent 70%);
    transform: translateX(-50%);
    //opacity: 0.4;

    @include utility.media-breakpoint-gte(xs) {
      width: 12vw;
      //top: 8vw;
    }
    @include utility.media-breakpoint-gte(lg) {
      //top: -1.75vw;
      //left: 25vw;
      width: 10vw; //top: 2vw;
    }
    @include utility.media-breakpoint-gte(hd) {
      //width: 18vw;
    }
  }
  .bullets {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0vw;
    font-size: 2.5vw;
    @include utility.media-breakpoint-gte(xs) {
      margin: 0vw;
      font-size: 2.25vw;
    }
    @include utility.media-breakpoint-gte(sm) {
      margin: 4vw;
      font-size: 100%;
    }
    @include utility.media-breakpoint-gte(lg) {
      margin: 0.5vw;
    }
    
    h2 {
      //visibility: hidden;
      margin: 0;//2.5vw 0 2vw 0vw;
      padding: 1vw;
      text-align: center;
      font-size: 6vw;
      white-space: nowrap;
      background-image: linear-gradient(190deg, rgba(0,0,0,0.0) 10%, rgba(0,0,0,0.55));
      color: colors.$color_gray_lt;

      @include utility.media-breakpoint-gte(xs) {
        //margin: 4.5vw 0 0vw 0vw;
        //padding
        font-size: 4.5vw;
      }
      @include utility.media-breakpoint-gte(sm) {
        font-size: 3.25em;
      }
      @include utility.media-breakpoint-gte(lg) {
        //margin: 0vw 2vw 0 16vw;
        font-size: 3em;
      }
      @include utility.media-breakpoint-gte(ws) {
        font-size: 3.3em;
      }
      @include utility.media-breakpoint-gte(hd) {
        font-size: 3.3em;
      }
      span {
        color: colors.$color_text_lt;
        //font-weight: bold;
      }
    }
    ul {
      padding: 1vw 2vw 2vw 4vw;
      //background-color: colors.$color_black_translucent;
      background-image:
      linear-gradient(350deg, rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.55));
      
      font-size: 1.25em;  
      @include utility.media-breakpoint-gte(xs) {
        //margin: 0vw 5vw 2vw 5vw;
        font-size: 1.05em;
      }
      @include utility.media-breakpoint-gte(sm) {
        font-size: 1.4em;
      }
      @include utility.media-breakpoint-gte(md) {
        //margin: 0vw 2vw 0 16vw;
        font-size: 1.65em;
      }
      @include utility.media-breakpoint-gte(lg) {
        //margin: 0vw 2vw 0 16vw;
        font-size: 1.3em;
      }
      @include utility.media-breakpoint-gte(ws) {
        font-size: 1.25em;
      }
      @include utility.media-breakpoint-gte(hd) {
        font-size: 1.55em;
      }
      li {
        position: relative;
        line-height: 1.25;
        padding-bottom: 1.25vw;
        &:last-of-type {
          padding-bottom: 0;
        }
        //margin-left: 2vw;
        &::before {
          content: ""; /* Set the content to an empty string */
          position: absolute;
          display: inline-block; /* Set the display to inline-block */
          width: clamp(8px, 2vw, 100px); /* Set the width of the bullet */
          height: clamp(8px, 2vw, 100px); /* Set the height of the bullet */
          top: 0.25vw;
          left: -3vw;
          @include utility.media-breakpoint-gte(xs) {
            width: 1.75vw;
            height: 1.75vw;
            top: 0.1vw;
            left: -2.5vw;
          }
          @include utility.media-breakpoint-gte(sm) {
            width: 1.5vw;
            height: 1.5vw;
            top: -0.35vw;
            left: -2.5vw;
          }
          @include utility.media-breakpoint-gte(lg) {
            width: 1.25vw;
            height: 1.25vw;
            top: 0vw;
            left: -2vw;
          }
          background-image: url("../assets/images/Bullet.svg"); /* Set the background image to your SVG */
          background-size: contain; /* Set the background size to contain the image */
          margin-right: 0; /* Add some spacing between the bullet and the text */
        }
      }
    }
  }
}
