@use "./colors";
@use "./utility";

$validationAnimationTime: 0.4s;

// Fancy way of doing gradient borders
// - Padding-box filled with white on top of border-box filled gradient bg
@mixin gradient-border-legend($color: colors.$color_gray_translucent) {
  background: linear-gradient(colors.$color_white_alt, colors.$color_white_alt)
      padding-box,
    linear-gradient(to bottom, $color 55.95%, transparent 56%) border-box;
}
.contact-us-container {
  h2 {
    margin: 3vw 0 3vw;
    text-align: center;
  }
  form#ContactUs {
    display: flex;
    flex-direction: column;

    &::before {
      @keyframes formErrorHighlight {
        20% {
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        80% {
          opacity: 0;
        }
      }

      content: "";
      z-index: 0;
      position: absolute;
      pointer-events: none;
      @include utility.tblr(0);
    }

    .column-container {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: clamp(1rem, 3vw, 10rem);
      @include utility.media-breakpoint-gte(sm) {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 0 clamp(1.5rem, 2vw, 3rem);
      }
      .col {
        fieldset {
          min-width: 200px;
          padding: clamp(0.5rem, 0.5vw, 5rem) clamp(1rem, 1.5vw, 5rem)
            clamp(1rem, 1.5vw, 2rem);
          border: clamp(3px, 0.2vw, 10px) solid colors.$color_gray_translucent; // Match textbox styles.scss
          border-radius: clamp(1rem, 2vw, 3rem);
          background-color: colors.$color_white_alt;
          transition: border-color $validationAnimationTime;

          legend {
            padding: clamp(0.25rem, 0.25vw, 1rem) clamp(1rem, 0.75vw, 2rem)
              0.25rem clamp(0.5rem, 0.5vw, 2rem);
            margin-left: clamp(0.25rem, 0.1vw, 4rem);
            @include gradient-border-legend();

            border-radius: 3rem;
            border: clamp(3px, 0.2vw, 10px) solid transparent;
            border-bottom: none;
            color: colors.$color_gray_lt;
            background-color: colors.$color_white_alt;
            border-radius: clamp(1rem, 2vw, 3rem);
            font-size: clamp(0.8rem, 1.2vw, 4rem);
            text-shadow: 2px 2px 3px colors.$color_gray_translucent;
          }

          &.invalid {
            border-color: colors.$color_border_invalid;
            legend {
              @include gradient-border-legend(colors.$color_border_invalid);
            }
          }
          &.valid {
            border-color: rgba(colors.$color_border_valid, 0.5);
            legend {
              @include gradient-border-legend(colors.$color_border_valid);
            }
          }
        }
        ul {
          flex: 1;
          max-width: 80vw;
          list-style-type: none;
          text-align: right;

          @include utility.media-breakpoint-gte(xs) {
            text-align: right;
          }

          li {
            margin-bottom: clamp(0.35rem, 0.4vw, 4rem);
            label {
              display: inline-flex;
              flex-direction: row;
              justify-content: flex-end;
              align-items: center;
              padding: 0 clamp(0.125rem, 0.125vw, 0.5rem) 0
                clamp(0.5rem, 1vw, 2rem);
              border-radius: clamp(2rem, 5vw, 10rem);

              span {
                border-bottom: 1px solid colors.$color_gray_translucent;
                @include utility.media-breakpoint-gte(sm) {
                  border-bottom-width: 2px;
                }
                transition: border-color $validationAnimationTime ease;
              }
              &.selected span {
                border-color: colors.$color_orange;
              }

              .checkmark-container {
                $checkmarkWidth: clamp(
                  0.5rem * 1.33,
                  1.2vw * 1.33,
                  8rem * 1.33
                );
                $checkmarkHeight: clamp(0.5rem, 1.2vw, 8rem);
                position: relative;
                width: $checkmarkWidth;
                height: $checkmarkHeight;
                margin-left: clamp(0.25rem, 0.25vw, 1rem);
                input {
                  position: absolute;
                  width: 0;
                  height: 0;
                  top: 0;
                  left: 0;
                  margin: 0;
                  padding: 0;
                  border: none;
                  outline: none;
                  &::before,
                  &::after {
                    border: none;
                    outline: none;
                  }
                }
              }
            }
            &.other-topic {
              display: flex;
              flex-direction: row;
              justify-content: flex-end;
              margin-top: clamp(1rem, 1vw, 3rem);
              textarea {
                &::placeholder {
                  font-style: italic;
                  color: rgba(0, 0, 0, 0.35);
                }
              }
              .checkmark-container {
                margin-right: clamp(0.5rem, 1.5vw, 5rem);
              }
            }
          }
        }

        &.left {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;

          textarea {
            width: clamp(100px, 50vw, 800px);
            background-color: colors.$color_white;
            @include utility.media-breakpoint-gte(sm) {
              width: 100%;
            }
          }
          .text-other-spacer {
            position: relative;
            height: clamp(1.5rem, 4vw, 10rem);
          }
        }

        &.right {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          gap: 1vw;
          @include utility.media-breakpoint-gte(sm) {
            justify-content: flex-start;
            align-items: center;
            height: 100%;
          }
          .control-stack {
            display: flex;
            flex-direction: column;
            gap: 0.4vw;
            label {
              color: colors.$color_text_label;
            }

            input[type="text"],
            input[type="email"] {
              width: clamp(240px, 60vw, 400px);
              @include utility.media-breakpoint-gte(sm) {
                width: clamp(240px, 30vw, 500px);
              }
              @include utility.media-breakpoint-gte(lg) {
                width: clamp(240px, 28vw, 800px);
              }
              @include utility.media-breakpoint-gte(hd) {
                width: clamp(240px, 22vw, 800px);
              }
            }
          }

          .captcha-container {
            align-self: flex-start;
            margin-top: clamp(1rem, 1vw, 2rem);
            #Grecaptcha {
              padding: clamp(0.5rem, 1vw, 2rem);
              border-radius: 2rem;
              border: clamp(3px, 0.2vw, 10px) solid
                colors.$color_gray_translucent;
              background-color: colors.$color_white_alt;
              transition: border-color $validationAnimationTime;
              &.invalid {
                border-color: colors.$color_border_invalid;
              }
              &.valid {
                border-color: colors.$color_border_valid;
              }
            }
          }
        }
      }
    }
    .submit-container {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: clamp(2rem, 4vw, 6rem) 0 clamp(4rem, 6vw, 8rem);
      text-align: center;
      .submit-input-wrapper {
        position: relative;
        display: block;
        @include utility.tblr(0);
        background-color: transparent;

        &::after {
          content: "";
          @include utility.tblr(0);
          position: absolute;
          display: block;
          border-radius: clamp(
            1.5rem,
            3vw,
            5rem
          ); // NOTE: needs to match styles.scss value for button/submit border radius
          box-shadow: 0px 0px 10px 4px rgba(colors.$color_red, 0.75);
          transition: opacity $validationAnimationTime ease;
          opacity: 0;
          pointer-events: none;
        }
        &.touched.invalid::after {
          border-color: colors.$color_border_invalid;
          box-shadow: 0px 0px 10px 4px rgba(colors.$color_red, 0.75);
          opacity: 1;
        }
        &.touched.valid::after {
          border-color: colors.$color_border_valid;
          box-shadow: 0px 0px 10px 4px rgba(colors.$color_green, 0.75);
          opacity: 1;
        }
        input[type="submit"] {
          &.touched.invalid {
            border-color: colors.$color_border_invalid;
          }
          &.touched.valid {
            border-color: colors.$color_border_valid;
          }
        }
      }
    }
  }
}
