  @use "colors";

#ContentPane_Portfolio.page-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-size: 102%;
  background-position: 60% 40%;
  background-image: 
    linear-gradient(
      75deg,
      colors.$color_black_translucent 0%,
      transparent 100%
    ),
    url("../../assets/images/Portfolio_gray.jpg");
  // background-image: linear-gradient(
  //     90deg,
  //     colors.$color_orange_translucent 0%,
  //     colors.$color_white_translucent 100%
  //   ),
  //   url("../../assets/images/Portfolio_orange.jpg");
  .folder-bg {
    position: relative;
    //width: 98%;
    //bottom: 1vw;
    //left: 0.5vw;
  }
  ul {
    //background: rgba(0,255,0,0.2);
    //position: absolute;
    //top: 0; left: 0; bottom: 0; right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    margin: 2vw;

    &.col-right {
      align-items: center;

      li::before {
        // background-image: radial-gradient(
        //   rgba(255, 255, 255, 0.35) 35%,
        //   transparent 70%
        // );
      };
    }

    li {
      z-index: 1;
      position: relative;
      border: 2px solid colors.$color_orange;
      &::before {
        content: "";
        z-index: -1;
        position: absolute;
        $offset: -2vw;
        top: calc($offset + 1vw);
        bottom: calc($offset + 1vw);
        left: $offset;
        right: $offset;

        // background-image: radial-gradient(
        //   rgba(0, 0, 0, 0.75) 55%,
        //   transparent 70%
        // );
        //background-color: colors.$color_black;
      }

      a {
        display: block; 
        img {
          display: block;
          //box-shadow: 0px 0px 1px 0px colors.$color_orange;
        }
      }

      &.stellar {
        padding: 0.25vw 0.5vw;
        background-color: colors.$color-white;
        img {
          height: 2.75vw;
        }
      }
      &.payscout {
        border-radius: 0.75rem;
        img {
          height: 3.5vw;
        }
      }
      &.western-timber-frame {
        border-radius: 50%;
        img {
          height: 5.5vw;
        }
      }
      &.delegate {
        img {
          height: 4vw;
        }
      }
      &.whip-around {
        padding: 0.25vw 0.5vw;
        background-color: colors.$color-white;
        border-radius: 1vw;
        img {
          height: 2.75vw;
        }
      }
      &.centric {
        padding: 0.25vw 0.5vw;
        background-color: colors.$color-black;
        border-radius: 3vw;
        img {
          height: 2vw;
        }
      }
      &.elan {
        padding: 0.25vw 0.5vw;
        background-color: colors.$color-black;
        img {
          height: 2vw;
        }
      }
    }
  }
}
