@use "./utility";
@use "./colors";

#ContentPane_Home.page-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .chanida-torso {
    position: absolute;
    bottom: -1px;
    left: 2vw;
    width: 24vw;
    img {
      display: block;
      width: 100%;
    }
    @include utility.media-breakpoint-gte(xs) {
      width: 18vw;
    }
    @include utility.media-breakpoint-gte(lg) {
      width: 12vw;
    }
  }

  .logo {
    z-index: -1;
    position: absolute;
    top: -2vw;
    right: 2vw;
    width: 10w;
    opacity: 0.25;
    @include utility.media-breakpoint-gte(xs) {
      width: 10vw;
    }
    @include utility.media-breakpoint-gte(lg) {
      top: -1.75vw;
      //left: 25vw;
      width: 7vw;
    }
    @include utility.media-breakpoint-gte(hd) {
      width: 8vw;
    }
  }
  .bullets {
    margin: 0 4vw 0 30vw;
    padding: 1vw 1vw 1vw 3.5vw;
    font-size: 1.4em;
    background-color: colors.$color_white_translucent;
    @include utility.media-breakpoint-gte(xs) {
      margin: 0vw 2vw 0 22vw;
      font-size: 1.05em;
    }
    @include utility.media-breakpoint-gte(sm) {
      font-size: 1.4em;
    }
    @include utility.media-breakpoint-gte(lg) {
      margin: 0vw 2vw 0 16vw;
      font-size: 1.2em;
    }
    h2 {
      margin: 0 0 1.5vw;
      text-align: left;
    }
    ul {
      li {
        position: relative;
        line-height: 1.25;
        padding-bottom: 1.25vw;
        &:last-of-type {
          padding-bottom: 0;
        }
        //margin-left: 2vw;
        &::before {
          content: ""; /* Set the content to an empty string */
          position: absolute;
          display: inline-block; /* Set the display to inline-block */
          width: clamp(8px, 2vw, 100px); /* Set the width of the bullet */
          height: clamp(8px, 2vw, 100px); /* Set the height of the bullet */
          top: 0.25vw;
          left: -3vw;
          @include utility.media-breakpoint-gte(lg) {
            top: -0.35vw;
            left: -2.5vw;
          }
          background-image: url("../assets/images/Bullet.svg"); /* Set the background image to your SVG */
          background-size: contain; /* Set the background size to contain the image */
          margin-right: 0; /* Add some spacing between the bullet and the text */
        }
      }
    }
  }
}
