@use "./colors";
@use "utility";

#ContentPane_Contact.page-container {
  > div {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    a {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: clamp(1rem, 4vw, 2rem);
      width: 100%;

      > div {
        //width: clamp(3.75rem, 13vw, 30rem);
      }
      h1 {
        text-shadow: 1px 1px 1px colors.$color_black;
      }
    }
    &.phone {
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      padding-right: 4vw;

      background-color: rgba(180,180,180,1);
      background-image:
      linear-gradient(40deg, colors.$color_black_translucent 0%, transparent 50%),
      linear-gradient(80deg, transparent 30%, colors.$color_black_translucent 50%),
        url('../../assets/images/Phone2.jpg');

      background-size: 100%;
      background-repeat: no-repeat;
      background-position: right 54%;

      .details {
        display: flex;
        flex-direction: row;
        gap: 1vw;
      }

      a {
        justify-content: flex-end;

        h1 {
          margin: 0 0 0.25vw 0;
          padding: 0 0 0 0;
          font-size: clamp(1.5rem, 5vw, 3rem);
        }
      }
      img {
        width: clamp(2rem, 2.5vw, 8rem);
        //margin-right: clamp(1.75rem, 5vw, 10rem);
      }
      p {
        margin: 0 0 0.15vw 0;
        padding: 0;
        color: colors.$color_text_lt;
        font-size: clamp(0.75rem, 2vw, 2.5rem);
        text-shadow: 1px 1px 1px colors.$color_black;
      }
    }
    &.email {
      background-color: colors.$color_gray;
      background-image:
      
      linear-gradient(80deg, colors.$color_black_translucent 50%, transparent 100%),
        url('../../assets/images/Mailboxes2.jpg');
        background-size: 100%;
      background-repeat: no-repeat;
      background-position: left 54%;
      justify-content: center;

      a {
        h1 {
          margin: 0;
          margin-left: clamp(2rem, 3vw, 6rem);
          padding: 0 0 0 0;
          font-size: clamp(1rem, 3.5vw, 3rem);
        }
        img {
          width: clamp(2.25rem, 8vw, 10rem);
          margin-left: clamp(1rem, 2vw, 6rem);
        }
      }
    }
  }

  @include utility.media-breakpoint-gte(lg) {
    > div {
      a {
        > div {
          //width: clamp(3.75rem, 11vw, 30rem);
        }
      }
      &.phone {
        a {
          h1 {            
            font-size: clamp(1rem, 3.25vw, 5rem);
          }
          img {
            width: clamp(2.5rem, 2.5vw, 8rem);
            //margin-left: clamp(1.75rem, 5vw, 10rem);
          }
        }
        p {
          font-size: clamp(0.75rem, 1.75vw, 2.5rem);
        }
      }
      &.email {
        a {
          h1 {
            font-size: clamp(1.5rem, 2vw, 5rem);
            padding: 0 0 0 0;
          }
          img {
            width: clamp(2.25rem, 4vw, 10rem);
            //margin-left: clamp(1.75rem, 5vw, 10rem);
          }
        }
      }
    }
  }
}
