@use "./colors";

$col1: rgba(0,0,0,0.8); // transparent; //#82242B;
$col2: rgba(0,0,0,0.8);; // transparent; //#24822B;
$col3: #fff; // transparent; //#242B82;

#ContentPane_Services.page-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-size: 100%;

  > * {
    flex: 0 0 33.4%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    &:last-of-type {
    }
    padding: 1vw;
    background-repeat: no-repeat, no-repeat;
    background-size: 100%;
    text-align: center;

    // &.separator {
    //   flex-basis: 0px;
    //   padding: 0;
    //   width: 1vw;
    //   height: 98%;
    //   margin-bottom: 2%;
    //   //border: 1px dotted magenta;
    //   position: absolute;

    //   //background-image: url('../assets/images/Accent_Swoosh.svg');
    //   // width: 2vw;
    //   // height: 10vw;

    //   &.up {
    //     left: 31.5%;
    //     img {
    //       height: 100%;
    //     }
    //   }
    //   &.down {
    //     left: 65.5%;
    //     img {
    //       height: 100%;
    //       transform: rotate(180deg);
    //     }
    //   }
    // }

    h3 {
      position: absolute;
      width: 100%;
      margin: 0;
      padding: 0 0 0 1.5vw;

      color: colors.$color_white;
      text-shadow: 1px 1px 2px #000;
      font-size: clamp(1rem, 2.5vw, 2.5rem);
      text-align: left;

      span {
        display: block;
      }
    }
    p {
      //font-size: 90%;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 0.25vw;
      margin: 0.75vw 0 1vw 0;

      li {
        font-weight: bold;
      }
    }

    &.category1 {
      background-image:
        linear-gradient(122deg, $col1 0%, $col1 20%, transparent 90%),
        url("../assets/images/stock_bg1.jpg");
        background-position: 100% 30%;
    }

    &.category2 {
      background-image: 
        linear-gradient(327deg, $col2 0%, $col2 20%, transparent 90%),
        url("../assets/images/stock_bg2.jpg");
      background-position: 100% 58%;

      h3 {
        padding-right: 4vw;
        text-align: right;
      }
    }
    &.category3 {
      background-image: 
        linear-gradient(122deg, $col1 0%, $col1 20%, transparent 90%),
        url("../assets/images/stock_bg3.jpg");
      background-position: 100% 18%;
    }
  }
}
