@use "./colors";
@use "./utility";

.contact-us-container {
  h2 {
    margin: 3vw 0 3vw;
    text-align: center;
  }
  form#ContactUs {
    display: flex;
    flex-direction: column;

    .column-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: clamp(1rem, 3vw, 10rem);
      @include utility.media-breakpoint-gte(sm) {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 0 clamp(1.5rem, 2vw, 3rem);
      }
      .col {
        fieldset {
          border: clamp(3px, 0.2vw, 10px) solid colors.$color_gray_translucent; // Match textbox styles.scss
          //width: clamp(260px, 40vw, 800px);
          min-width: 200px;
          padding: clamp(0.5rem, 0.5vw, 5rem) clamp(1rem, 1.5vw, 5rem)
            clamp(1rem, 1.5vw, 2rem);
          border-radius: clamp(1rem, 2vw, 3rem);
          background-color: colors.$color_white_alt;

          &:invalid {
            border-color: rgba(colors.$color_red, 0.5);
          }

          legend {
            padding: 0 clamp(0.5rem, 0.5vw, 1rem) 0.25vw clamp(0.25rem, 0.25vw, 1rem);
            margin-left: clamp(0.25rem, 0.1vw, 4rem);
            //border: clamp(3px,0.2vw,10px) solid colors.$color_gray_translucent; // Match textbox styles.scss
            // fancy way of doing gradient borders
            background: linear-gradient(colors.$color_white_alt, colors.$color_white_alt) padding-box,
              linear-gradient(to bottom, colors.$color_gray_translucent 55.95%, transparent 56%) border-box;
            border-radius: 3rem;
            border: clamp(3px, 0.2vw, 10px) solid transparent;
            border-bottom: none;
            color: colors.$color_gray_lt;
            background-color: colors.$color_white_alt;
            border-radius: clamp(1rem, 2vw, 3rem);
            font-size: clamp(0.8rem, 1.2vw, 4rem);
            text-shadow: 2px 2px 3px colors.$color_gray_translucent;
          }
        }
        ul {
          flex: 1;
          max-width: 80vw;
          list-style-type: none;
          text-align: right;

          @include utility.media-breakpoint-gte(xs) {
            text-align: right;
          }

          li {
            margin-bottom: clamp(0.35rem, 0.4vw, 4rem);
            label {
              display: inline-flex;
              flex-direction: row;
              justify-content: flex-end;
              align-items: center;
              padding: 0 0 0 clamp(0.5rem, 1vw, 2rem);
              border-radius: clamp(2rem, 5vw, 10rem);

              span {
                border-bottom: 1px solid colors.$color_gray_translucent;
                @include utility.media-breakpoint-gte(sm) {
                  border-bottom-width: 2px;
                }
                transition: border-color 0.4s ease;
              }
              &.selected span {
                border-color: colors.$color_orange;
              }

              .checkmark-container {
                $checkmarkWidth: clamp(
                  0.5rem * 1.33,
                  1.2vw * 1.33,
                  8rem * 1.33
                );
                $checkmarkHeight: clamp(0.5rem, 1.2vw, 8rem);
                position: relative;
                width: $checkmarkWidth;
                height: $checkmarkHeight;
                margin-left: clamp(0.25rem, 0.25vw, 1rem);
                input {
                  position: absolute;
                  width: 0;
                  height: 0;
                  top: 0;
                  left: 0;
                  margin: 0;
                  padding: 0;
                  border: none;
                  outline: none;
                  &::before, &::after {
                    border: none;
                    outline: none;
                  }
                }
              }
            }
            &.other-topic {
              display: flex;
              flex-direction: row;
              justify-content: flex-end;
              margin-top: clamp(1rem, 1vw, 3rem);
              .checkmark-container {
                margin-right: clamp(0.5rem,1.5vw,5rem);
              }
            }
          }
        }

        &.left {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;

          textarea {
            width: clamp(100px, 50vw, 800px);
            background-color: colors.$color_white;
            @include utility.media-breakpoint-gte(sm) {
              width: 100%;
            }
          }
          .text-other-spacer {
            position: relative;
            height: clamp(1.5rem, 4vw, 10rem);
          }
        }

        &.right {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          gap: 1vw;
          @include utility.media-breakpoint-gte(sm) {
            justify-content: flex-start;
            align-items: center;
            height: 100%;
          }
          .control-stack {
            display: flex;
            flex-direction: column;
            gap: 0.4vw;
            label {
              color: colors.$color_text_label;
            }

            input[type="text"], input[type="email"] {
              width: clamp(240px, 60vw, 400px);
              @include utility.media-breakpoint-gte(sm) {
                width: clamp(240px, 30vw, 500px);
              }
              @include utility.media-breakpoint-gte(lg) {
                width: clamp(240px, 28vw, 800px);
              }
              @include utility.media-breakpoint-gte(hd) {
                width: clamp(240px, 22vw, 800px);
              }

              &:valid {
                border-color: rgba(colors.$color_green, 0.5);
              }
              &:invalid {
                border-color: rgba(colors.$color_red, 0.5);
              }
            }
          }

          .captcha-container {
            align-self: flex-start;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: clamp(1rem, 1vw, 2rem);
            &:focus-within {
              border: 4px solid red;
            }
            .g-recaptcha {
              padding: clamp(1rem, 1.5vw, 3rem);
              border-radius: 2rem;
              border: clamp(3px, 0.2vw, 10px) solid colors.$color_gray_translucent;
              background-color: colors.$color_white_alt;
            }
          }
        }
      }
    }
    .submit-container {
      margin: clamp(2rem, 4vw, 6rem) 0 clamp(4rem, 6vw, 8rem);
      text-align: center;
    }
  }
}
