@use "./colors";
@use "utility";

$col2: colors.$color_black_translucent; //colors.$color_black; // transparent; //#82242B;
$col1: rgba(0, 0, 0, 0.8); // transparent; //#24822B;

#ContentPane_Services.page-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-size: 100%;

  > div {
    flex: 0 0 33.4%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    &:last-of-type {
    }
    padding: 1vw;
    background-repeat: no-repeat, no-repeat;
    background-size: 100%, 50%;
    background-color: colors.$color_white;
    text-align: center;

    h3 {
      position: absolute;
      width: 100%;
      margin: 0;
      padding: 0 0 0 1.5vw;

      color: colors.$color_white;
      //text-shadow: 0px 0px 1px #000;
      font-size: 4vw;
      text-align: left;

      span {
        display: block;
      }
    }
    p {
      //font-size: 90%;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 0.25vw;
      margin: 0.75vw 0 1vw 0;

      li {
        font-weight: bold;
      }
    }

    &.category1 {
      background-image: linear-gradient(
          65deg,
          $col1 0%,
          $col2 30%,
          transparent 80%
        ),
        url("../assets/images/Magnet_Ties13.jpg");
      background-position: 0% 50%, 100% 49%;
      background-size: 100%, 120%;
    }

    &.category2 {
      background-image: linear-gradient(
          90deg,
          $col1 0%,
          $col2 30%,
          transparent 80%
        ),
        url("../assets/images/Magnet_Ties12.jpg");
      background-position: 0% 0%, 40% 51%;
      background-size: 100%, 130%;

      h3 {
        //padding-right: 4vw;
        //text-align: right;
      }
    }
    &.category3 {
      background-image: linear-gradient(
          65deg,
          $col1 0%,
          $col2 30%,
          transparent 80%
        ),
        url("../assets/images/Magnet_Ties11.jpg");
      background-position: 100% 58%;
      background-size: 100%, 100%;
      background-repeat: no-repeat; //, repeat-x;
    }
  }

  > span {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 1vw;
    top: 1vw;
    width: 25vw;
    height: 25vw;

    //padding: 0.35vw 5vw 0.85vw 0;
    padding: 1vw;
    color: colors.$color_text_lt;
    font-size: 3.5vw;
    background-color: colors.$color_black_translucent;
    //background-image: linear-gradient(90deg, transparent, colors.$color_black_translucent);
    border-radius: 50%;

    &:first-of-type {
      right: 22vw;
      top: 10vw;
    }
    &:last-of-type {
      top: 24vw;
      right: 4.2vw;
      text-align: center;
    }
    span {
      display: block;
    }
  }

  @include utility.media-breakpoint-gte(xs) {
    > div {
      h3 {
        font-size: 3.5vw;
      }
    }
    > span {
      width: 18vw;
      height: 18vw;
      font-size: 2.5vw;
      &:first-of-type {
        right: 16vw;
        top: 6vw;
      }
      &:last-of-type {
        top: 17vw;
        right: 4.2vw;
      }
    }
  }
  @include utility.media-breakpoint-gte(sm) {
    > div {
      h3 {
        font-size: 3vw;
      }
    }
    > span {
      width: 18vw;
      height: 18vw;
      font-size: 2.5vw;
    }
  }
  @include utility.media-breakpoint-gte(md) {
    > div {
      h3 {
        font-size: 3vw;
      }
    }
    > span {
      width: 18vw;
      height: 18vw;
      font-size: 2.5vw;
    }
  }
  @include utility.media-breakpoint-gte(lg) {
    > div {
      h3 {
        font-size: 2.25vw;
      }
    }
    > span {
      width: 12vw;
      height: 12vw;
      font-size: 1.5vw;

      &:first-of-type {
        right: 12vw;
        top: 4vw;
      }
      &:last-of-type {
        top: 12vw;
        right: 4.2vw;
      }
    }
  }
}
