@use "colors";
@use "utility";

@mixin computer-desk-bg {
  background-image: url("../assets/images/cpu_desk_bg_blk_sm.jpg"),
    linear-gradient(
      49deg,
      colors.$color_white_alt2 30%,
      colors.$color_white_alt 60%
    );
  background-size: 205%;
  background-repeat: no-repeat;
  background-position: 22% 19.5vw, top left;

  @include utility.media-breakpoint-gte(xs) {
    background-size: 150%;
    background-position: 7% 16.5vw, top left;
  }
  @include utility.media-breakpoint-gte(sm) {
    background-image: url("../assets/images/cpu_desk_bg_blk_md.jpg"),
      linear-gradient(
        49deg,
        colors.$color_white_alt2 30%,
        colors.$color_white_alt 60%
      );
    background-size: 150%;
    background-position: 7% 16.5vw, top left;
  }
  @include utility.media-breakpoint-gte(lg) {
    background-size: 100%;
    background-position: center top;
  }
}

@mixin computer-desk-offset {
  //@media (orientation: portrait) {
    height: calc(100vw * 1.3);
    @include utility.media-breakpoint-gte(xs) {
      height: calc(100vw * 1);
    }
    @include utility.media-breakpoint-gte(sm) {
      height: calc(100vw * 0.94);
    }
  //}
  // @media (orientation: landscape) {
  //   height: calc(100vw * 0.55);
  // }
  @include utility.media-breakpoint-gte(lg) {
    height: calc(100vw * 0.55);
  }
}

body {
  // box-shadow: 0px 0px 6px 2px inset colors.$color_white;

  .site-container {
    display: flex; // flexbox sticky footer
    flex-direction: column;
    justify-content: flex-start;

    background-color: colors.$color-white;

    header {
      display: flex;
      flex-direction: column;

      @include computer-desk-bg();
      @include computer-desk-offset();

      .swoosh {
        z-index: 1; // swoosh above content
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }

      .hero-banner-container {
        position: relative;
        perspective: 200vw; // perspective for Screen
        perspective-origin: top center;
        transform-style: flat;
        top: 0;
        left: 0;

        height: 100%;

        .hero-banner {
          width: 100%;
        }

        .main-nav {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }

        .title-container {
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          right: 50vw;
          top: 7vw;
          max-width: 80vw;
          font-size: 0.9em;
          transform: translateX(50%);
          text-align: center;
          $shadowOffset: 0.15vw;
          text-shadow: $shadowOffset $shadowOffset 0.5vw rgba(0, 0, 0, 0.5);
          white-space: nowrap;

          @include utility.bg-radial-grad();

          @include utility.media-breakpoint-gte(xs) {
            top: 6vw;
          }
          @include utility.media-breakpoint-gte(md) {
            top: 6vw;
          }
          @include utility.media-breakpoint-gte(lg) {
            //text-shadow: $shadowOffset $shadowOffset clamp(1px, 0.4vw, 2px) colors.$color_gray;
            text-shadow: 0.1vw 0.1vw 0.25vw rgba(0, 0, 0, 0.5);
            right: 1vw;
            top: 10vw;
            width: 42vw;
            padding: 0;
            //font-size: 104%;
            @include utility.bg-radial-grad();
            transform: translateX(0%);
          }
          @include utility.media-breakpoint-gte(ws) {
          }
          @include utility.media-breakpoint-gte(ws) {
            right: 2vw;
          }

          .title {
            margin-bottom: 3vw;

            background-image: url('/assets/images/Accent_Swoosh.svg');
            background-size: 80%;
            background-repeat: no-repeat;
            background-position: 45% 55%;


            @include utility.media-breakpoint-gte(lg) {
              font-size: 0.75em;
              margin-bottom: 2vw;
            }
            > * {
              position: relative;
              @include utility.bg-radial-grad();
            }
            .swoosh {
              z-index: 0; // below text
              // NOTE: set these values using Chrome debugger with responsive sizing on (minorly affects position for vw)
              position: absolute;
              width: 86%;
              top: 7.9vw;
              right: 6.2vw;
              @include utility.media-breakpoint-gte(xs) {
                width: 88%;
                top: 5.9vw;
                right: 7.1vw;
              }
              @include utility.media-breakpoint-gte(sm) {
                width: 90%;
                top: 5.4vw;
                right: 6.1vw;
              }
              @include utility.media-breakpoint-gte(md) {
                width: 90%;
                top: 4.9vw;
                right: 6.1vw;
              }
              @include utility.media-breakpoint-gte(lg) {
                width: 92%;
                top: 2.35vw;
                right: 3.25vw;
              }
            }
            h1,
            .tagline {
              margin: 0vw;
            }
            .tagline {
              font-size: 1.5em;
              font-weight: bold;
            }
          }

          #NavDesktop {
            display: none;
            @include utility.media-breakpoint-gte(lg) {
              display: flex;
            }
          }
        }

        .logo {
          width: 10vw;
        }

        #NavMobile {
          position: absolute;
          display: flex;
          top: 108vw;
          left: 50%;
          transform: translateX(-50%);
          
          @include utility.media-breakpoint-gte(xs) {
            top: 80vw;
          }
          @include utility.media-breakpoint-gte(sm) {
            top: 79vw;
          }
          @include utility.media-breakpoint-gte(md) {
            top: 80vw;
          }
          @include utility.media-breakpoint-gte(lg) {
            display: none;
          }
        }
      }
    }

    .divider-main {
      position: relative;
      display: flex;
      justify-content: center;
      width: 100%;
      transform: translateY(-50%);
      img {
      }
    }

    main {
      //z-index: -1;
      position: relative;
      top: 0;
      flex: 1; // flexbox sticky footer

      background-image: 
      linear-gradient(84deg, rgba(255,255,255,0.92) 0%, rgba(255,255,255,0) 100%),
      url("/assets/images/ContentBg.svg");
      background-repeat: no-repeat;
      background-size: cover;

      .content {
        margin: 0 1rem;
        @include utility.media-breakpoint-gte(sm) {
          margin: 0 5vw;
        }
        @include utility.media-breakpoint-gte(lg) {
          margin: 0 15vw;
        }
        @include utility.media-breakpoint-gte(ws) {
          margin: 0 25vw;
        }
        section {
          position: relative;
          > * {
            position: relative;
            z-index: 1;
          }
          .accent-image {
            z-index: 0;
            position: absolute;
            width: 20vw;
            top: 15vw;
            right: -2vw;
            opacity: 0.25;

            &.salesforce {
              top: clamp(12rem, 35vw, 90rem);
              right: unset;
              left: -4vw;
              width: 40vw;
              opacity: 0.1;
            }
          }
          ul.client-list {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 2vw 3vw;
            flex-wrap: wrap;
            
            li {

              img {
                width: 11vw;
              }
              &.payscout {
                img {
                  width: 13vw;
                }
              }
              &.whip-around {
                img {
                  width: 16vw;
                }
              }
              &.centric, &.elan {
                img {
                  width: 18vw;

                }
              }
            }
          }

          .contact {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            a {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              flex-wrap: nowrap;
              img {
                width: 8vw;
                max-height: 6vw;
              }
              p {
  
              }
            }            
          }
        }
      }
    }

    footer {
      position: relative;
      min-height: clamp(10rem, 10vw, 18rem);
      margin-top: 6vw;
      background-color: colors.$color_gray_lt;
      text-align: right;

      .divider {
        width: 100%;
        height: 8vw;
        background: transparent url("../assets/images/Divider_Gray.svg")
          no-repeat scroll 96% center;
        background-size: 200%;
        transform: translateY(-50%);
      }

      .content {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: -4vw;
        padding: 0 2vw;
        > div {
          flex: 0 0 30%;
          text-align: center;

          &:last-of-type {
            text-align: right;
          }
        }
        
        img {
          width: 20vw;
        }
        .fishbone-logo {
          display: inline-block;
          $size: 6vw;
          width: clamp(8rem, $size, 12rem);;
          height: clamp(7rem, $size, 12rem);;
          background-image: url("../assets/images/FishboneLogoFull_gray.svg");
          background-size: contain;
          background-repeat: no-repeat;
          &:hover {
            background-image: url("../assets/images/FishboneLogoFull.svg");
          }
        }
      }
    }
  } // end site-container
}
