@use "colors";
@use "utility";

@mixin bg-radial-grad() {
  background-image: radial-gradient(
    colors.$color_white_rgb 35%,
    transparent 70%
  );
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
  box-shadow: 0px 0px 6px 2px inset colors.$color_white;
  background-image: url("../assets/images/cpu_desk_bg.jpg"), linear-gradient(90deg, colors.$color_white_alt2 30%, colors.$color_white_alt 60%);
  background-size: 165%;
  background-repeat: no-repeat;
  background-position: 14% 19.5vw, top left;
  
  @include utility.media-breakpoint-gte(sm) {
    background-image: url("../assets/images/cpu_desk_bg.jpg"), linear-gradient(52deg, colors.$color_white_alt2 30%, colors.$color_white_alt 60%);
    background-size: 150%;
    background-position: 7% 16.5vw, top left;
  }  
  @include utility.media-breakpoint-gte(lg) {
    background-size: 100%;
    background-position: center top;
  }

  header {
    position: relative;
    .swoosh {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
    }
  }
  main {
    flex: 1;
    position: relative;
    min-height: 800px;
    padding: 0;
    perspective: 100vw;
    transform-style: flat;
    font-size: 55%;

    .screen {
      position: absolute;
      width: 36.95vw;
      height: 21.25vw;

      //background-color: rgba(255,0,0,0.5);

      transform: translate3d(18vw, 38.5vw, 0vw) rotateX(11deg) rotateY(15deg)
        rotateZ(-3deg) skewX(6deg) skewY(-4.5deg) scaleY(1.22);
      @include utility.media-breakpoint-gte(sm) {
        // transform: translate3d(18vw, 8.5vw, 0vw) rotateX(11deg) rotateY(15deg)
        // rotateZ(-3deg) skewX(6deg) skewY(-4.5deg) scaleY(1.22);
      }

      // Begin large-format layout at 1024px
      @include utility.media-breakpoint-gte(lg) {
        //transform: translate3d(18vw, 8.5vw, 0vw) rotateX(11deg) rotateY(15deg) rotateZ(-3.75deg) skewX(4deg) skewY(-5deg) scaleY(1.25);
        transform: translate3d(18.25vw, 8.5vw, 0) rotateX(5deg) rotateY(17deg)
          rotateZ(-3.5deg) skewX(4deg) skewY(-4.5deg) scaleY(1.25);
      }
      // 1280
      @include utility.media-breakpoint-gte(xl) {
        //transform: translate3d(18.35vw, 8.5vw, 0vw) rotateX(11deg) rotateY(17deg) rotateZ(-3.75deg) skewX(5deg) skewY(-3.5deg) scaleY(1.24);
        transform: translate3d(18.25vw, 8.5vw, 0) rotateX(11deg) rotateY(17deg)
          rotateZ(-5.25deg) skewX(4deg) skewY(-3.5deg) scaleY(1.25);
      }
      // 1440
      @include utility.media-breakpoint-gte(ws) {
        transform: translate3d(18.25vw, 8.5vw, 0) rotateX(11deg) rotateY(17deg)
          rotateZ(-4deg) skewX(4deg) skewY(-3.5deg) scaleY(1.25);
      }
      // 1920
      @include utility.media-breakpoint-gte(hd) {
        transform: translate3d(18.35vw, 8.5vw, 0vw) rotateX(11deg)
          rotateY(17deg) rotateZ(-3.5deg) skewX(4deg) skewY(-3deg) scaleY(1.22);
      }
      overflow: hidden;

      > * {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;

        .page-container {
          height: 100%;
          padding: 0vw;
        }
      }
    }

    .intro {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      right: 50vw;
      top: 7vw;
      max-width: 80vw;
      font-size: 2.75vw;
      transform: translateX(50%);
      text-align: center;
      $shadowOffset: clamp(1px, 0.1vw, 2px);
      text-shadow: 0.1vw 0.1vw 0.2vw colors.$color_gray;
      @include utility.media-breakpoint-gte(sm) {
        font-size: 2.25vw;
      }
      @include utility.media-breakpoint-gte(lg) {
        text-shadow: $shadowOffset $shadowOffset clamp(2px, 0.2vw, 4px) colors.$color_gray;
      }
      white-space: nowrap;
      @include bg-radial-grad();
      @include utility.media-breakpoint-gte(lg) {
        right: 5vw;
        top: 16vw;
        max-width: 40vw;
        padding: 0;
        font-size: 104%;
        @include bg-radial-grad();
        transform: translateX(0%);
      }      

      .title {
        margin-bottom: 3vw;
        @include utility.media-breakpoint-gte(lg) {
          margin-bottom: 2vw;
        }
        > * {
          position: relative;
          @include bg-radial-grad();
        }
        .swoosh {
          position: absolute;
          width: 90%;
          top: 5.5vw;
          right: 8.5vw;
          @include utility.media-breakpoint-gte(sm) {
            width: 90%;
            top: 4.5vw;
            right: 7.5vw;
          }
          @include utility.media-breakpoint-gte(lg) {
            width: 92%;
            top: 2.35vw;
            right: 3.25vw;
          }
        }
        h2 {
          font-size: 160%;
        }
      }

      .main-nav {
        display: none;
        @include utility.media-breakpoint-gte(lg) {
          display: flex;
        }
      }
    }

    .logo {
      width: 10vw;
    }

    .divider1 {
      z-index: 1;
      position: absolute;
      top: 54.75vw;
      img {
        height: 3vw;
      }
    }
  }

  footer {
    position: relative;
    background-color: colors.$color_gray_lt;
    min-height: 6vw;
    //overflow-y: hidden;
    img {
      position: absolute;
      display: block;
      top: -2.8vw;
      right: 0;
      transform: scale(300%) translateX(-33.3%);
    }
    .divider {
      width: 100%;
      height: 8vw;
      background: transparent url("../assets/images/Divider_Gray.svg") no-repeat
        scroll 96% center;
      background-size: 200%;
      transform: translateY(-50%);
    }
  }
}
