@use "colors";
@use "utility";
@use "typography";

/* Define the font family */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&display=swap");


* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%; // "sticky footer"
  height: 100vh;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color: colors.$color_text;
  background-color: colors.$color_background;
  background-image: 
    linear-gradient(180deg, transparent 96%, rgba(0,0,0,0.35) 100%),
    linear-gradient(142deg, transparent, rgba(0,0,0,0.4));
}
body {
  line-height: 1.25;
}

header {
}
main {
}
footer {
}

a {
  color: colors.$color_primary;
  text-decoration: none;
}

.nowrap {
  white-space: nowrap;
}
.emphasis1 {
  font-style: italic;
}
.emphasis2 {
  font-style: italic;
  font-weight: bold;
}